body{
    text-decoration: none;
    background-color: #3f72af;
    
}
.container{
 margin-top: 30px;
background-color: white;
height: 500px;
width: 700px;
margin: auto;
border-radius: 20px;
text-align: center;
}
#task{
padding-top: 1px;
border-bottom: ridge;

}
#task h1{
    font-size: 50px;
   
}
#task input{
    width: 250px;
    height: 33px;
    cursor: pointer;
    font-size: 16px;
    border-end-start-radius: 7px;
    border-start-start-radius: 7px;
}
#add{
    height: 36.5px;
    width: 46.69px;
    font-size: 18px;
    color: white;
    background-color: #aaaaaa;
    cursor: pointer;
    border-start-end-radius: 7px;
    border-end-end-radius: 7px;
    
}
.bu1 button{
    width: 490px;
    height: 50px;
    border: none;
}
