* {
  box-sizing: border-box;
  
  font-family: "fira sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #3f72af;
}
.cont {
  margin: 2rem auto;
  min-height: 25rem;
  width: 30rem;
  background-color: aliceblue;
  border-radius: 20px;
  padding-bottom: 30px;
}

header {
  text-align: center;
  padding-top: 20px;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 300px;
  margin-bottom: 2rem;
}

#input{
    border-radius: 5px;
    background-color: #DBE2EF;
    width: 250px;
    height: 32px;
    margin-bottom: 2rem;
}

#submit{
  border-radius: 5px;
  background-color: #b1b1b1;
  width: 45px;
  height: 32px;
  color: white;
  font-size: large;
}
.line{
  border-bottom: 3px solid #aaaaaa;
  width: 350px;
  margin-left: 4rem;
  margin-bottom: 2rem;

}
main{
  text-align: center;
  padding-top: 20px;
}
.text{
  border-radius: 5px;
  background-color: #DBE2EF;
  width: 350px;
  height: 32px;
  margin-bottom: 1rem;
}
#tasks{
  border-radius: 10px;
  width: 100%;
  position: relative;
  
  
  margin-top: 10px;
}

.task{
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  width: 400px;
  margin-left: 40px;
}
.task span{
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  font-weight: 400;
  
}

.task button{
  background-color: #6583e5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 40px;
  border-radius: 5px;
}